In [39]:
import pandas as pd
filename = "C:/Users/dell/Downloads/SsoObservation_01.csv/SsoObservation_01.csv"
data_pandas = pd.read_csv(filename, skiprows = 254)
data_pandas.head()

,solution_id,source_id,denomination,transit_id,observation_id,number_mp,epoch,epoch_err,epoch_utc,ra,...,vz_gaia,x_gaia_geocentric,y_gaia_geocentric,z_gaia_geocentric,vx_gaia_geocentric,vy_gaia_geocentric,vz_gaia_geocentric,position_angle_scan,astrometric_outcome_ccd,astrometric_outcome_transit
0,4428731357481467921,-4284204796,2000 ej88,15514292707713904,155142927077139041,76250,1677.411661,1.137500e-08,1677.410670,352.432670,...,0.004686,0.005584,-0.008236,-0.003762,0.00011,0.00006,0.000068,156.071062,"[11,1,1,1,1,1,1,1,1,1]",1
1,4428731357481467921,-4284204796,2000 ej88,15514292707713904,155142927077139042,76250,1677.411717,1.137500e-08,1677.410727,352.432678,...,0.004686,0.005584,-0.008236,-0.003762,0.00011,0.00006,0.000068,156.071046,"[11,1,1,1,1,1,1,1,1,1]",1
2,4428731357481467921,-4284204796,2000 ej88,15514292707713904,155142927077139043,76250,1677.411773,1.137500e-08,1677.410783,352.432729,...,0.004686,0.005584,-0.008236,-0.003762,0.00011,0.00006,0.000068,156.071038,"[11,1,1,1,1,1,1,1,1,1]",1
3,4428731357481467921,-4284204796,2000 ej88,15514292707713904,155142927077139044,76250,1677.411830,1.137500e-08,1677.410839,352.432689,...,0.004687,0.005584,-0.008236,-0.003762,0.00011,0.00006,0.000068,156.071013,"[11,1,1,1,1,1,1,1,1,1]",1
4,4428731357481467921,-4284204796,2000 ej88,15514292707713904,155142927077139045,76250,1677.411886,1.137500e-08,1677.410895,352.432694,...,0.004687,0.005584,-0.008236,-0.003762,0.00011,0.00006,0.000068,156.070996,"[11,1,1,1,1,1,1,1,1,1]",1

In [40]:
columns_names = data_pandas.columns
print(columns_names)

Index(['solution_id', 'source_id', 'denomination', 'transit_id',
       'observation_id', 'number_mp', 'epoch', 'epoch_err', 'epoch_utc', 'ra',
       'dec', 'ra_error_systematic', 'dec_error_systematic',
       'ra_dec_correlation_systematic', 'ra_error_random', 'dec_error_random',
       'ra_dec_correlation_random', 'g_mag', 'g_flux', 'g_flux_error',
       'x_gaia', 'y_gaia', 'z_gaia', 'vx_gaia', 'vy_gaia', 'vz_gaia',
       'x_gaia_geocentric', 'y_gaia_geocentric', 'z_gaia_geocentric',
       'vx_gaia_geocentric', 'vy_gaia_geocentric', 'vz_gaia_geocentric',
       'position_angle_scan', 'astrometric_outcome_ccd',
       'astrometric_outcome_transit'],
      dtype='object')

In [49]:
value = data_pandas.at[1, 'ra']
dec_value_n = data_pandas.at[1, 'dec']
print(value)
print(dec_value_n)

352.4326783516598
11.182914247351356

In [42]:
number_rows = len(data_pandas)
print(number_rows)

1164658

In [43]:
from astropy.coordinates import SkyCoord 
import astropy.units as u

ra_value = data_pandas["ra"].tolist()
dec_value = data_pandas["dec"].tolist()
print(list(ra_value[:50]))
print(list(dec_value[:50]))

[352.43266971535746, 352.4326783516598, 352.43272856081603, 352.4326890925046, 352.4326937318161, 352.4327390979557, 352.4327068904512, 352.4327072467027, 352.43282806243514, 16.99055481315384, 16.990568457865493, 16.99058478132965, 352.4123661278524, 352.41236707357854, 352.4123682195532, 352.4123701525849, 352.41237225611144, 352.4123766999978, 352.41237614068785, 4.85632868530529, 4.856336879478847, 4.856346961373774, 4.856354197368127, 4.856366384975625, 4.856371335231756, 4.856379849066189, 4.85638725960035, 4.856392946644982, 5.020356170404393, 5.020314091784457, 5.020319342642782, 5.020323068575405, 5.020330953634458, 5.020334849509133, 178.06298632872054, 178.06303274683214, 178.06303478425025, 178.06299056767767, 178.0629915713528, 178.0629914893949, 178.06299516789167, 178.06299675820628, 178.15197160196374, 178.15192801200396, 178.15192729178614, 178.1519299535506, 178.1519273405351, 178.15193127325358, 178.15193128733443, 178.15193178774032]
[11.182906251251994, 11.182914247351356, 11.182940772998643, 11.182930857934158, 11.182938831139056, 11.182965345855544, 11.182955950870548, 11.18296657305983, 11.183023849955008, -36.77230193955904, -36.77232353359249, -36.77234445987714, 11.193392074178862, 11.193399448098695, 11.193407658609797, 11.193413870958349, 11.19341894716046, 11.193427983226252, 11.193435515241347, -15.202017477572491, -15.202021479699084, -15.20202051156445, -15.20202242836333, -15.202022831041512, -15.20202458043705, -15.202025101204756, -15.202026309665571, -15.20202787143319, -16.1034688401628, -16.103493099524837, -16.103493301181235, -16.103495233712064, -16.103497396993742, -16.103500929878262, 0.5180389863967122, 0.5180187771997655, 0.518018110461369, 0.5180366659401517, 0.5180353233683338, 0.5180352805393804, 0.5180334454426196, 0.5180317934001443, 0.9766656851278688, 0.9766811697934132, 0.9766804872777566, 0.976680160448376, 0.9766796771168152, 0.9766780829068596, 0.9766783190510838, 0.9766767122584974]

In [44]:
print(len(ra_value))
print(len(dec_value))

1164658
1164658

In [46]:
epoch = data_pandas["epoch"].tolist()

In [79]:
from astroquery.vizier import Vizier
from astropy.coordinates import  SkyCoord
import astropy.units as u

targets = []
for i in range(20): 

    coord = SkyCoord(ra=ra_value[i]*u.deg, dec=dec_value[i]*u.deg, frame='icrs') 
    vizier = Vizier(columns=["*", "_r"], row_limit=10)  
    vizier.VIZIER_SERVER = "vizier.cds.unistra.fr"
    result = vizier.query_region(coord, radius=5*u.arcsec)
    targets.append(result)
    print(result.keys())

['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south']
['I/359/ssoobs']
['I/359/ssoobs']
['I/359/ssoobs']
['I/359/ssoobs', 'II/363/unwise', 'VII/292/south']
['I/359/ssoobs', 'II/363/unwise', 'VII/292/south']
['I/359/ssoobs', 'II/363/unwise', 'VII/292/south']
['I/359/ssoobs', 'II/363/unwise', 'VII/292/south']
['I/359/ssoobs', 'II/363/unwise', 'VII/292/south']
['I/359/ssoobs', 'II/363/unwise', 'VII/292/south']
['I/359/ssoobs', 'II/363/unwise', 'VII/292/south']
['I/359/ssoobs']

In [80]:
for i in range(len(targets)):
    print(targets[i].keys())

['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south', 'J/A+A/594/A116/nhi_hpx']
['I/267/out', 'I/353/gsc242', 'I/359/ssoobs', 'II/294/sdss7', 'II/319/las9', 'II/349/ps1', 'II/365/catwise', 'V/139/sdss9', 'V/147/sdss12', 'V/154/sdss16', 'VII/292/south']
['I/359/ssoobs']
['I/359/ssoobs']
['I/359/ssoobs']
['I/359/ssoobs', 'II/363/unwise', 'VII/292/south']
['I/359/ssoobs', 'II/363/unwise', 'VII/292/south']
['I/359/ssoobs', 'II/363/unwise', 'VII/292/south']
['I/359/ssoobs', 'II/363/unwise', 'VII/292/south']
['I/359/ssoobs', 'II/363/unwise', 'VII/292/south']
['I/359/ssoobs', 'II/363/unwise', 'VII/292/south']
['I/359/ssoobs', 'II/363/unwise', 'VII/292/south']
['I/359/ssoobs']

In [99]:
list_dict = []
for i in range(len(targets)):
    dict = {"cat1": targets[i]['I/359/ssoobs']['Name']}
    list_dict.append(dict)
print(list(list_dict))

[{'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=9>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=9>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=9>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=9>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=9>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=9>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=9>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=9>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=9>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=3>
2009 sp255
2009 sp255
2009 sp255}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=3>
2009 sp255
2009 sp255
2009 sp255}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=3>
2009 sp255
2009 sp255
2009 sp255}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=7>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=7>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=7>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=7>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=7>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=7>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=7>
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88
2000 ej88}, {'cat1': <MaskedColumn name='Name' dtype='str20' description='Standard MPC denomination of the asteroid (denomination)' length=9>
2004 xc129
2004 xc129
2004 xc129
2004 xc129
2004 xc129
2004 xc129
2004 xc129
2004 xc129
2004 xc129}]

In [103]:
list_dict_pd = pd.DataFrame(list_dict)
list_dict_pd

                                                 cat1
0   [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
1   [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
2   [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
3   [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
4   [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
5   [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
6   [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
7   [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
8   [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
9                [2009 sp255, 2009 sp255, 2009 sp255]
10               [2009 sp255, 2009 sp255, 2009 sp255]
11               [2009 sp255, 2009 sp255, 2009 sp255]
12  [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
13  [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
14  [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
15  [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
16  [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
17  [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
18  [2000 ej88, 2000 ej88, 2000 ej88, 2000 ej88, 2...
19  [2004 xc129, 2004 xc129, 2004 xc129, 2004 xc12...